.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card img {
  width: 100%;
}
.card {
  height: 40em;
}
.jumbo {
  height: 20em;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  color: aliceblue;
  margin: 0;
  padding: 0;
  padding-left: 2em;
  background: url("https://www.grid.news/resizer/6szvwSdDCY0hBNOpEBiLX4HCdVA=/1440x540/filters:format(jpg):quality(100)/cloudfront-us-east-1.images.arcpublishing.com/thesummit/VHFXAYRAERFJZD5FWWFDOESMJU.jpg");
}
.container-fluid {
  padding: 0 !important;
}
.jumbotext {
  margin-inline: auto;
  text-align: center;
}
#newsh2 {
  margin-inline: auto;
  text-align: center;
  padding-block: 0.5em;
}
